.removeRoleModal {
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
            display: flex;
            align-items: center;
            color: rgb(0 0 0 / 65%);
            column-gap: 8px;
        }

        button {
            min-width: 80px;
        }
    }

    &-content {
        display: flex;
        height: 0;
        flex: 1;
        flex-direction: column;
        border: 1px solid rgb(0 0 0 / 15%);
        border-radius: 4px;

        :global {
            .any-fabric-ant-collapse {
                overflow: hidden scroll;

                .any-fabric-ant-collapse-content-box {
                    padding: 0 0 0 16px !important;
                }
            }
        }

        .searchInput {
            padding: 16px 16px 12px;
        }

        .noData {
            height: 44px;
            padding: 10px;
            color: rgb(0 0 0 / 65%);
            text-align: center;
        }
    }
}

.roleListItem {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 24px;
    border-radius: 4px;
    color: rgb(0 0 0 / 85%);
    column-gap: 8px;

    &:hover {
        background: #eff0f3;
    }

    :global {
        .any-fabric-ant-checkbox-disabled .any-fabric-ant-checkbox-inner {
            background: #126ee3;
            opacity: 0.25;

            &::after {
                border-color: #fff;
            }
        }
    }

    .roleContent {
        display: flex;
        flex: 1;
        align-items: center;
        column-gap: 8px;

        .roleName {
            .ellipsis-line(1);
        }
    }

    .removeIcon {
        display: flex;
        width: 28px;
        height: 28px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        color: rgb(0 0 0 / 45%);
        font-size: 12px;

        &:hover {
            color: rgb(0 0 0 / 85%);
        }
    }
}
