@keyframes running-line {
    to {
        stroke-dashoffset: -1000;
    }
}

.x6-node foreignobject > :first-child {
    position: static;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    background-color: transparent;
}
