.projects-dropdown-container {
    .search-input {
        padding: 12px;
    }

    .empty-container {
        margin-top: 4px;
        text-align: center;

        .empty-text {
            color: rgb(0 0 0 / 45%);
        }

        .create-text {
            color: rgb(0 0 0 / 65%);
        }
    }
}

.expand-capacity-form {
    .common-title {
        margin-bottom: 16px;
    }
}
