# 名称空间，服务都要在同一个空间。
namespace: anyshare

labels:
  deployment:
    name: auth-service-deployment
  pod:
    app: auth-service-pod
  service:
    app: auth-service-service

image:
  registry: acr.aishu.cn
  repository: af/auth-service
  tag: "1.0.0-alpha"
  pullPolicy: IfNotPresent

# replicaCount 由 Proton 部署工作台全局配置。replicaCount 被
# replicaCountOverwrite 覆盖。
replicaCount: 1
# auth-service 多副本下存在数据一致性问题，使用 replicaCountOverwrite 覆盖由
# Proton 配置的 replicaCount
replicaCountOverwrite: 1

name: auth-service-deployment

nodeSelector: []

service:
  name: auth-service
  type: ClusterIP
  port: 8155
  version: 1.0.0
  telemetry:
    log:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-4d42d761dbf0ea95/events
      level: error
    trace:
      enabled: true
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-a2491f67d02e482c/events

doc:
  host: "127.0.0.1:8000"
  version: "1.0"

config:
  logPath: ./logs

depServices:
  class-443:
    ingressClass: class-443
  rds:
    type: mariadb
    host: mariadb-mariadb-master.resource
    port: 3330
    user: anyshare
    password: xxx
    database: af_main
  redis:
    connectInfo:
      masterGroupName: mymaster
      password: ''
      sentinelHost: proton-redis-proton-redis-sentinel.resource.svc.cluster.local
      sentinelPassword: ''
      sentinelPort: 26379
      sentinelUsername: root
      username: root
    connectType: sentinel
    sourceType: internal
    database: 0
  mq:
    auth:
      mechanism: 'PLAIN'
      username: 'kafkauser'
      password: ''
    mqHost: 'kafka.resource.svc.cluster.local'
    mqLookupdHost: ""
    mqLookupdPort: 0
    mqPort: 9092
    mqType: kafka
    version: "2.3.1"
    clientId: af.auth-service
    groupId: "af.auth-service"
    nsq:
      type: nsq
      host: proton-mq-nsq-nsqd.resource
      port: 4150
      httpHost: proton-mq-nsq-nsqd.resource
      httpPort: 4151
      lookupdHost: proton-mq-nsq-nsqlookupd.resource
      lookupdPort: 4161
  configCenterService:
    host: configuration-center
    port: 8133
  userManageService:
    host: user-management-private
    port: 30980
  hydraService:
    host: hydra-admin
    port: 4445
    clientId: 109be1e1-72c0-4137-8484-813b14be5e21
    clientSecret: Si4iZL.ZZ1JO
  metaDataManageService:
    host: af-vega-metadata
    port: 80
  virtualizationEngine:
    protocol: http
    host: af-vega-gateway
    port: 8099
  dataCatalog:
    host: data-catalog
    port: 8153
  glossaryService:
    host: glossary-service
    port: 8183
  workflowRest:
    host: workflow-rest
    port: 9800
    mqChannel: af-data-permission-request
  dataApplicationService:
    host: data-application-service
    port: 8156
  basicSearch:
    host: basic-search
    port: 8163
  dataSubject:
    host: data-subject
    port: 8123
  dataView:
    host: data-view
    port: 8123
  docAuditREST:
    host: doc-audit-rest
    port: 9800
  oss:
    ossApp: af
    ossHost: ossgatewaymanager-private:9002
    ossProtocol: http
    ossIsDefault: true
    ossBucket: afstorage
resources:
  requests:
    cpu: 0.1
    memory: 10Mi
  limits:
    cpu: 500m
    memory: 1024Mi
