@import '../styles.module.less';

.apply-info-row {
    padding: 0 32px;

    .basic-item {
        .label {
            width: fit-content;
        }

        .basic-item();
    }
}

.details {
    display: flex;
    overflow: hidden;
    min-width: 0;
    height: 0;
    min-height: 0;
    flex: 1;
    flex-direction: column;
    background: #f0f2f6;

    .bottom {
        display: flex;
        overflow: auto hidden;
        min-width: 0;
        height: 0;
        min-height: 0;
        flex: 1;
        flex-direction: column;
        padding: 24px;

        .content {
            height: 100%;
            padding: 24px;
            background: #fff;
            border-radius: 4px;
            overflow-y: auto;

            .content-info {
                margin-top: 20px;
            }
        }
    }

    .common-title {
        margin-bottom: 16px;
    }

    .common-title:nth-child(n + 2) {
        margin-top: 16px;
    }

    .step-container {
        height: 154px;
        padding: 24px 28px 0;
        background-color: rgba(240 242 246 / 45%);
        border-radius: 4px;

        .info-conatiner {
            .info-item {
                width: 260px;
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }

        :global {
            .any-fabric-ant-steps-item-icon {
                border: none;
                background-color: rgba(22 119 255 / 100%);
            }

            .any-fabric-ant-steps-icon {
                color: #fff;
            }

            .any-fabric-ant-steps-item-title {
                color: rgb(0 0 0 / 85%) !important;
                font-size: 16px;
            }

            .any-fabric-ant-steps-item:last-child {
                width: 280px;
            }
        }
    }
}

.name-container {
    display: flex;
    align-items: center;

    .member-name {
        max-width: 200px;
        .ellipsis-mixin();
    }

    .response-flag {
        display: flex;
        width: 58px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border: 1px solid #126ee3;
        margin-left: 8px;
        border-radius: 14px;
        color: #126ee3;
        text-align: center;
    }
}

.project-data-wrapper {
    position: relative;

    .common-title {
        margin-bottom: 22px;
    }

    .search-container {
        position: absolute;
        top: 8px;
        right: 16px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 26px;
    }
}
