.system-register-wrapper {
    height: 100%;

    .left {
        overflow: auto;
        height: 100%;

        .left-title {
            padding: 24px 0 12px 20px;
            font-weight: 550;
        }

        .left-tree-box {
            height: calc(100% - 66px);
            padding-bottom: 16px;
        }
    }

    .right {
        .right-title {
            margin-top: 24px;
            margin-bottom: 12px;
            font-weight: 550;
        }

        .right-operate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
        }
    }
}

.register-form {
    .system-form-item {
        margin-bottom: 10px;
    }

    .system-link {
        margin-bottom: 16px;
    }

    .system-description {
        height: 84px;
        resize: none;
    }

    .system-flag-form-item-repeat {
        margin-bottom: 2px;
    }

    .system-flag-form-item {
        margin-bottom: 24px;
    }

    .repeat-tip {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        color: rgba(0 0 0 / 65%);

        .repeat-tip-icon {
            margin-right: 4px;
            color: #1890ff;
        }
    }

    .flag-repeat-input {
        color: #e60012;
    }
}

.details-container {
    .system-name {
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 550;
    }

    .details-fields {
        .field-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            .field-label {
                width: fit-content;
                margin-right: 32px;
                color: rgba(0 0 0 / 45%);
            }

            .field-value {
                flex: 1;
                color: rgba(0 0 0 / 85%);
                word-break: break-all;
            }
        }
    }
}
