.openCatlgWrapper {
    height: 100%;
    padding: 16px 24px;

    .top {
        .title {
            margin-bottom: 16px;
            color: rgb(0 0 0 / 85%);
            font-size: 14px;
            font-weight: 550;
            line-height: 20px;
        }
    }

    // .right {
    //     height: 100%;
    //     // padding: 18px 0;
    //     padding-top: 32px;
    // }

    .catlgName {
        display: flex;
        align-items: center;

        .nameIcon {
            margin-right: 8px;
            font-size: 16px;
        }

        .catlgNameCont {
            width: calc(100% - 22px);

            .nameWrapper {
                display: flex;
                align-items: center;

                .names {
                    margin-right: 4px;
                    color: @title-color-secondary;

                    &:hover {
                        color: @primary-color;
                        cursor: pointer;
                        text-decoration-line: underline;
                    }
                    .ellipsis-mixin();
                }

                & div:nth-child(2) {
                    flex-shrink: 0;
                }
            }

            .code {
                color: rgb(0 0 0 / 45%);
                font-size: 12px;
            }

            .auditing {
                height: 20px;
                flex-shrink: 0;
                padding: 0 8px;
                background: rgb(24 144 255 / 7%);
                border-radius: 12px;
                color: #1890ff;
                font-size: 12px;
                line-height: 18px;
            }

            .auditNotPass {
                height: 20px;
                flex-shrink: 0;
                padding: 0 8px;
                background: rgb(255 77 79 / 7%);
                border-radius: 12px;
                color: #ff4d4f;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .relateRescWrapper {
        display: flex;
        align-items: center;

        .firstRelCatlgName {
            .ellipsis-mixin();

            width: fit-content;
        }

        .link {
            &:hover {
                color: #126ee3;
                cursor: pointer;
                text-decoration-line: underline;
            }
        }
    }
}

.editOpenCatlgWrapper {
    .dataCatlgItem {
        margin-bottom: 24px;
    }

    .catlgName {
        display: flex;
        align-items: center;

        .nameIcon {
            margin-right: 6px;
            font-size: 20px;
        }

        .catlgNameCont {
            width: calc(100% - 22px);

            .names {
                margin-right: 4px;
                color: @title-color-secondary;
                line-height: 22px;

                &:hover {
                    color: @primary-color;
                    cursor: pointer;
                    text-decoration-line: underline;
                }
                .ellipsis-mixin();
            }

            .code {
                color: rgb(0 0 0 / 45%);
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

.addOpenCatlgModalWrapper {
    .selDataCatlgWrapper {
        display: flex;
        height: 360px;
        align-items: center;

        .dataCatlgContentWrapper {
            display: flex;
            width: 510px;
            height: 100%;
            flex-direction: column;
            border: 1px solid rgb(0 0 0 / 10%);
            margin-right: 10px;

            .topSearch {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;
                padding: 16px;

                .filterTree {
                    > div {
                        width: 100%;
                    }

                    :global {
                        .any-fabric-ant-tree {
                            max-height: 138px;
                        }

                        .search-result {
                            height: auto;
                            max-height: 148px;
                            overflow-y: auto;
                        }

                        .any-fabric-ant-tree-list-holder {
                            min-width: 100%;
                        }
                    }
                }
            }

            .loading {
                flex: 1;
            }

            .dataCatlgListContent {
                overflow: hidden;
                flex: 1;

                .dataCatlgList {
                    height: 100%;
                    padding: 0 16px;
                    overflow-y: auto;
                }
            }
        }

        .selectedContWrapper {
            display: flex;
            overflow: hidden atuo;
            width: 232px;
            height: 100%;
            flex-direction: column;
            padding: 20px 0 0;
            border: 1px solid rgb(0 0 0 / 10%);

            .top {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;
                padding: 0 16px;
            }

            .selectedList {
                flex: 1;
                padding: 0 16px 8px;
                overflow-y: auto;
            }
        }
    }

    .addOpenCatlgWrapper {
        .selDataCatlgFormItem {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        .radioLabel {
            min-width: 144px;
        }

        :global {
            .any-fabric-ant-form-item {
                margin-bottom: 14px;
            }
        }
    }

    .dataCatlgItem {
        display: flex;
        align-items: center;

        & + .dataCatlgItem {
            margin-top: 8px;
        }

        .checkbox {
            margin-right: 8px;
        }

        .catlgName {
            display: flex;
            overflow: hidden;
            flex: 1;
            align-items: center;

            .nameIcon {
                flex-shrink: 0;
                margin-right: 6px;
                font-size: 20px;
            }

            .catlgNameCont {
                overflow: hidden;
                // width: calc(100% - 22px);
                flex: 1;

                .names {
                    .ellipsis-mixin();

                    margin-right: 4px;
                    color: @title-color-secondary;

                    &:hover {
                        color: @primary-color;
                        cursor: pointer;
                        text-decoration-line: underline;
                    }
                }

                .code {
                    .ellipsis-mixin();

                    color: rgb(0 0 0 / 45%);
                    font-size: 12px;
                }
            }
        }

        .selDelBtn {
            flex-shrink: 0;
        }
    }
}

.requestResInfoModal {
    padding: 16px;

    :global {
        .any-fabric-ant-modal-confirm-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .any-fabric-ant-modal-confirm-content {
            margin-left: 0 !important;
        }

        .any-fabric-ant-modal-confirm-title {
            margin-top: 12px;
            color: rgb(0 0 0 / 85%) !important;
            font-size: 20px;
            font-weight: 550;
            line-height: 32px;
        }

        .any-fabric-ant-modal-confirm-btns {
            text-align: center;
        }
    }
}

// 新增请求返回信息提示框
.requestResInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .successTitle {
        color: rgb(0 0 0 / 85%);
        font-size: 20px;
        font-weight: 550;
        line-height: 32px;
    }

    .successInfoWrapper {
        .ellipsis-mixin();

        max-width: 308px;
        color: rgb(0 0 0 / 45%);
        font-size: 14px;
        line-height: 20px;
    }

    .failedInfoWrapper {
        display: flex;
        align-items: center;
        margin-top: 12px;
        color: #f44336;
        font-size: 14px;
        gap: 6px;
        line-height: 20px;

        .failedInfo {
            .ellipsis-mixin();

            max-width: 262px;
        }
    }
}

.rescTooltipWrapper {
    // max-width: 220px;
    // max-height: 190px;
    // padding: 0;
    // padding-top: 4px;
    // color: #000000;
    // overflow: hidden auto;
    // border-radius: 4px;
    // box-shadow: 0px 9px 28px 8px rgba(0,0,0,0.05), 0px 3px 6px -4px rgba(0,0,0,0.12), 0px 6px 16px 0px rgba(0,0,0,0.08);

    .link {
        &:hover {
            color: #126ee3;
            cursor: pointer;
            text-decoration-line: underline;
        }
    }

    :global {
        .any-fabric-ant-tooltip-inner {
            overflow: hidden auto;
            max-width: 220px;
            max-height: 180px;
            background: rgb(255 255 255);
            color: rgb(0 0 0 / 85%);
        }
    }
}

.auditInfoWrapper {
    width: 220px;
    color: #000;
    font-size: 12px;
    line-height: 18px;

    .auditTitleWrapper {
        display: flex;
        align-items: center;
        font-weight: 550;
        gap: 8px;
    }

    .auditContentWrapper {
        overflow: hidden auto;
        max-height: 200px;
        margin-top: 10px;
        word-break: break-word;
    }
}

// 开放目录预览------start
.overviewWrapper {
    overflow: hidden auto;
    height: 100%;
    padding: 24px;
    background: #f5f5f6;

    .title {
        margin-bottom: 22px;
        color: rgb(0 0 0 / 85%);
        font-size: 14px;
        font-weight: 550;
        line-height: 20px;
    }

    .countInfoWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        gap: 24px;

        .countInfoItem {
            height: 148px;
            flex: 1;
            padding: 20px 24px 30px;
            border: 1px solid #e8e8e8;
            // width: calc(100% - 24px);
            background: #fff;
            border-radius: 2px;

            .countTitle {
                color: rgb(0 0 0 / 45%);
                font-size: 14px;
                line-height: 22px;
            }

            .countValue {
                margin: 4px 0 16px;
                margin-top: 4px;
                color: rgb(0 0 0 / 85%);
                font-size: 30px;
                line-height: 38px;
            }

            .progress {
                margin-top: 28px;
            }

            .auditingInfoWrapper {
                display: flex;
                align-items: center;
                margin: 16px 0 0;
                color: rgb(0 0 0 / 85%);
                gap: 8px;

                .auditingInfoText {
                    margin: 0 8px 0 4px;
                    color: rgb(0 0 0 / 65%);
                }
            }
        }
    }

    .illustrationWrapper {
        height: 438px;

        .illustrationItem {
            min-height: 280px;
            border: 1px solid #e8e8e8;
            background: #fff;
            border-radius: 2px;

            .illustrationTitle {
                padding: 10px 24px;
                border-bottom: 1px solid #e8e8e8;
                color: rgb(0 0 0 / 85%);
                font-size: 14px;
                font-weight: 550;
                line-height: 22px;
            }

            .illustrationValue {
                padding: 24px;
                margin: auto;
            }
        }

        .rankingList {
            height: 100%;
            min-height: 280px;
            padding: 30px 40px 35px 30px;
            border: 1px solid #e8e8e8;
            margin: 0;
            background: #fff;
            border-radius: 2px;

            .rankingListTitle {
                margin-bottom: 24px;
                color: rgb(0 0 0 / 85%);
                font-size: 14px;
                font-weight: 550;
                line-height: 22px;
            }

            .rankingListContent {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .rankingListContentItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .ranking {
                        width: 20px;
                        height: 20px;
                        flex-shrink: 0;
                        background: #f0f2f5;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 12px;
                        line-height: 20px;
                        text-align: center;
                    }

                    &:nth-child(-n + 3) {
                        .ranking {
                            background: #314659;
                        }
                    }

                    .rankingName {
                        .ellipsis-mixin();

                        flex: 1;
                        margin: 0 48px 0 24px;
                        color: rgb(0 0 0 / 65%);
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .proportionWrapper {
        padding: 18px;
        border: 1px solid #e8e8e8;
        margin-bottom: 24px;
        background: #fff;
        border-radius: 2px;

        .proportionTitle {
            color: rgb(0 0 0 / 85%);
            font-size: 14px;
            font-weight: 550;
            line-height: 20px;
        }

        .proportionContent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 70px 0 40px;
            margin-top: 64px;

            .proportionContentItem {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;

                .proportionProgressChart {
                    :global {
                        .any-fabric-ant-progress-text {
                            color: #000;
                        }
                    }
                }

                // &:nth-last-child(1) {
                //     margin-bottom: 64px;
                // }
            }
        }
    }

    .emptyWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
// 开放目录预览------end
