.content {
    display: flex;
    width: 100%;
    height: calc(100vh - 52px);
    flex-direction: column;
    padding: 24px;

    .titleRapper {
        font-weight: 550;
    }

    .operateWrapper {
        display: flex;
        margin-top: 16px;
        font-size: 14px;
    }

    .selectWrapper {
        display: flex;
        width: 100%;
        height: 32px;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .dividerWrapper {
            display: flex;
            align-items: center;

            .dividerTitle {
                min-width: 60px;
                padding: 6px 12px;
                background-color: #f8f9fa;
                border-radius: 4px;
                color: @title-color-secondary;
                cursor: pointer;
                font-size: 14px;
                line-height: 20px;
            }

            .titleBracket {
                color: @text-color-third;
                font-size: 12px;
            }

            .titleNumber {
                color: @text-color-desc;
                font-size: 12px;
            }

            .titleSelected {
                background-color: #e7f0fc;
                color: @primary-color;
            }

            .divider {
                width: 1px;
                height: 14px;
                border: 1px solid #979797;
            }
        }
    }

    .bottom {
        display: flex;
        overflow: hidden;
        flex: 1;
        flex-direction: column;
        margin-top: 18px;

        .listWrapper {
            overflow: hidden auto;

            .list {
                width: calc(100% - 10px);
            }
        }

        .pagination {
            margin-right: 10px;
            float: right;
        }
    }

    .empty {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 112px;
        text-align: center;
    }

    .link {
        color: @link-color;
        cursor: pointer;
    }
}

.editWrapper {
    .nameInput {
        color: @text-color-desc;
        font-size: 14px;
    }

    :global {
        .any-fabric-ant-modal-body {
            padding: 24px 24px 8px;
        }

        .any-fabric-ant-form-item {
            margin-bottom: 32px;
        }

        .any-fabric-ant-form-vertical .any-fabric-ant-form-item-label {
            padding: 0 0 10px;
        }
    }
}

.cardItemWrapper {
    position: relative;
    display: flex;
    min-width: 324px;
    height: 306px;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px 20px 16px;
    border: 1px solid rgb(0 0 0 / 15%);
    margin-bottom: 16px;
    border-radius: 3px;

    .imageWrapper {
        display: flex;
        min-width: 284px;
        min-height: 192px;
        max-height: 192px;
        flex: 1;
        justify-content: center;
        background-color: rgb(0 0 0 / 2%);

        .itemImage {
            height: 100%;
            border-radius: 3px;
            cursor: pointer;
            object-fit: cover;
        }

        .itemImageDisabled {
            cursor: default;
        }

        :global .any-fabric-ant-image {
            width: 100%;
        }
    }

    .itemTitleWrapper {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .itemName {
            display: flex;
            min-width: 166px;
            flex: 1;
            color: @title-color-secondary;
            cursor: pointer;
            font-size: 14px;
            font-weight: 550;
            .ellipsis-line(1);

            &:hover {
                color: @primary-color;
                text-decoration-line: underline;
            }
        }

        .itemNameDisabled {
            cursor: default;

            &:hover {
                color: @title-color-secondary;
                text-decoration-line: none;
            }
        }

        .itemMore {
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            font-size: 16px;

            &:hover {
                background-color: rgb(0 0 0 / 12%);
            }
        }
    }

    .itemDetailWrapper {
        display: flex;
        width: 100%;
        height: 24px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8px;
        font-size: 12px;

        .itemDetail {
            flex-shrink: 0;
            margin-left: 4px;
            color: @text-color-desc;
            line-height: 22px;
        }

        .updateBy {
            .ellipsis-mixin();
        }

        .itemStatus {
            display: flex;
            height: 24px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            padding: 0 6px;
            margin-left: 10px;
            background-color: rgb(0 0 0 / 6%);
            border-radius: 3px;
            color: @text-color-third;
        }

        .itemErrorStatus {
            display: flex;
            height: 24px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            padding: 0 6px;
            margin-left: 10px;
            background: rgb(244 68 54 / 15%);
            border-radius: 3px;
            color: #f44436;
        }
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 10%);
    }

    .itemStatusMessage {
        position: absolute;
        top: 188px;
        right: 20px;
        display: flex;
        width: 108px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        font-size: 12px;

        .itemStatus {
            color: #fff;
        }
    }

    .itemStatusMessageNormal {
        background: rgb(0 0 0 / 30%);
    }

    .itemStatusMessageError {
        background: rgb(0 0 0 / 30%);
    }
}

.textSecondaryColor {
    color: @title-color-secondary;
    font-size: 14px;
}

:global {
    .any-fabric-ant-image-preview-wrap {
        background-color: #eff2f5;

        .any-fabric-ant-image-preview-operations {
            background: rgb(0 0 0 / 45%);
        }
    }
}
