.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 16px 0;
}

.empty-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 120px;

    .empty-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

.filters-container {
    flex-shrink: 0;
}

.data-container {
    display: flex;
    width: 100%;
    height: 0;
    flex: 1;
    margin-top: -16px;

    .meta-model-container {
        display: flex;
        width: 260px;
        height: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 16px 0;
        border-right: 1px solid rgb(0 0 0 / 10%);
        row-gap: 16px;

        .toolbar-container {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            column-gap: 8px;

            .search-container {
                flex: 1;
            }

            .create-container {
                display: flex;
                width: 32px;
                height: 32px;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background: #f1f7fe;
                }
            }
        }

        .list-container {
            height: 0;
            flex: 1;
            overflow-y: auto;

            .item-container {
                display: flex;
                overflow: hidden;
                height: 36px;
                align-items: center;
                padding: 0 16px;
                column-gap: 8px;
                cursor: pointer;

                .item-name {
                    flex: 0 1 auto;
                    .ellipsis-mixin();
                }

                .icon-container {
                    flex-shrink: 0;
                    font-size: 16px;
                }

                &:hover {
                    background: #f1f7fe;
                }
            }

            .item-selected {
                background: #f1f7fe;
            }
        }
    }

    .meta-model-detail-container {
        width: 0;
        flex: 1;
    }
}

.model-detail-container {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;

    .model-detail-header {
        display: flex;
        overflow: hidden;
        height: 32px;
        align-items: center;
        justify-content: space-between;

        .model-detail-header-title {
            display: flex;
            max-width: 500px;
            align-items: center;
            column-gap: 8px;
            font-size: 14px;
            font-weight: 550;
            .ellipsis-mixin();
        }

        .model-detail-header-actions {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }

    .model-detail-content {
        display: flex;
        flex-direction: column;
        color: rgb(0 0 0 / 65%);
        font-size: 12px;
        row-gap: 8px;

        .model-detail-content-item {
            display: flex;
            align-items: center;
            column-gap: 4px;

            .model-detail-content-item-title {
                flex-shrink: 0;
            }

            .model-detail-content-item-value {
                flex: 1;
                .ellipsis-mixin();
            }

            .model-detail-content-item-value-textarea {
                flex: 1;
                // 自动换行
                white-space: pre-wrap;
            }
        }
    }

    .model-detail-content-item-data-preview {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 8px;

        .model-detail-content-item-data-preview-title {
            font-size: 14px;
            font-weight: 550;
        }

        .model-detail-content-item-data-preview-content {
            flex: 1;
        }
    }
}

.loader-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.data-preview-container {
    flex: 1;

    .loading {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .tableTDContnet {
        display: flex;
        // 设计规定最宽345px-左右padding之和32px=313px
        max-width: 313px;
        align-items: center;

        .ellipsis-mixin();

        .nameIcon {
            margin-right: 4px;
        }

        &.subTableTDContnet {
            margin-top: -2px;
            color: rgb(0 0 0 / 45%);
            font-size: 12px;
            font-weight: normal;
        }

        .businessTitle {
            .ellipsis-mixin();
        }
    }

    :global {
        .any-fabric-ant-table-content {
            overflow-x: auto;

            > table {
                width: auto;
                min-width: 100%;
            }
        }

        th {
            > div {
                // 设计规定最宽345px-左右padding之和32px=313px
                max-width: 313px;
            }
        }

        .any-fabric-ant-table-tbody > tr > td {
            user-select: none;
        }
    }
}

.catalog-label {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.form-item-empty-container {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 3px;
}

.fields-select-loading-container {
    height: 400px;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 3px;
}

.fields-select-list-container {
    display: flex;
    height: 400px;
    flex-direction: column;
    padding: 16px 0;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 3px;

    .fields-select-all {
        display: flex;
        height: 32px;
        flex-shrink: 0;
        align-items: center;
        padding: 0 16px;
        column-gap: 8px;
    }

    .fields-select-list-wrapper {
        display: flex;
        height: 0;
        flex: 1;
        flex-direction: column;
        padding: 0 8px;
        overflow-y: auto;
        row-gap: 8px;

        .fields-select-item {
            display: flex;
            height: 44px;
            flex-shrink: 0;
            align-items: center;
            padding: 4px 8px 4px 12px;
            column-gap: 8px;

            .fields-select-shrink {
                flex-shrink: 0;
            }

            .fields-select-content {
                display: flex;
                width: 0;
                flex: 1;
                flex-direction: column;
                cursor: pointer;

                .business-name {
                    display: flex;
                    overflow: hidden;
                    align-items: center;
                    column-gap: 4px;

                    .name {
                        flex: 0 1 auto;
                        .ellipsis-mixin();
                    }

                    .primary-key {
                        display: flex;
                        width: 40px;
                        height: 20px;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgb(18 110 227 / 65%);
                        border-radius: 4px;
                        color: rgb(18 110 227 / 65%);
                        font-size: 12px;
                        font-weight: normal;
                    }
                }

                .technical-name {
                    color: rgb(0 0 0 / 45%);
                    font-size: 12px;
                    .ellipsis-mixin();
                }
            }

            .fields-select-content-editing {
                display: flex;
                width: 0;
                flex: 1;
                align-items: center;
                column-gap: 12px;

                .field-input {
                    flex: 1;

                    .input-error-container {
                        border: 1px solid rgb(245 34 45 / 100%);
                    }
                }

                .field-error {
                    display: flex;
                    width: 28px;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    color: rgb(245 34 45 / 100%);
                    font-size: 16px;
                }
            }

            .field-edit-btn {
                display: none;
                width: fit-content;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 8px;
            }

            &:hover {
                background: #f1f7fe;

                .field-edit-btn {
                    display: flex;
                }
            }
        }
    }
}

.fields-label {
    display: flex;
    align-items: center;
    column-gap: 4px;

    .fields-label-info {
        color: rgb(0 0 0 / 45%);
        font-size: 12px;
    }

    .fields-label-empty {
        color: #f5222d;
        font-size: 12px;
    }

    .empty-icon {
        color: #f5222d;
        font-size: 16px;
    }

    .info-icon {
        color: rgb(0 0 0 / 45%);
        font-size: 16px;
    }
}

.form-item-label-info {
    color: rgb(0 0 0 / 45%);
    font-size: 12px;
}
