.organizationRegisterWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 24px;

    .title {
        height: 22px;
        color: rgb(0 0 0 / 85%);
        font-weight: 550;
    }

    .topOperate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;

        .rightOperate {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

// Create组件相关样式
.organizationForm {
    .helpLink {
        display: block;
        color: #1890ff;
        font-size: 12px;
        text-decoration: none;

        &:hover {
            color: #40a9ff;
            text-decoration: underline;
        }

        &:active {
            color: #096dd9;
        }
    }
}
