.systemAccessTable {
    display: flex;
    height: 100%;
    flex-direction: column;
    // padding: 22px 20px 16px;

    .top {
        margin-bottom: 16px;
        font-weight: 550;
    }
}

.statusView {
    display: flex;
    align-items: center;

    .dot {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        border-radius: 50%;
    }

    .text {
        margin-right: 4px;
        margin-left: 8px;
        color: rgb(0 0 0 / 85%);
        font-size: 14px;
        .ellipsis-mixin();
    }
}

.ipViewWrapper {
    display: flex;
    max-width: 200px;
    align-items: center;

    .firstIp {
        overflow: hidden;
        min-width: 0;
        padding: 0 4px;
        background-color: #f0f0f0;
        border-radius: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .moreTag {
        flex-shrink: 0;
        padding: 0 4px;
        margin-left: 4px;
        background-color: #f0f0f0;
        border-radius: 4px;
        cursor: pointer;
        white-space: nowrap;
    }
}

.ipPopoverContent {
    .ipPopoverItem {
        padding: 2px 4px;
        margin-bottom: 4px;
        background-color: #f0f0f0;
        border-radius: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.expiredDateView {
    padding: 2px 4px;
    background-color: #fbb939;
    border-radius: 4px;
}

.detailGroupTitle {
    position: relative;
    display: flex;
    height: 46px;
    align-items: center;
    margin: 8px 0;
    background: rgb(0 55 150 / 2%);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 550;

    &::before {
        display: inline-block;
        width: 3px;
        height: 20px;
        margin-right: 12px;
        background-color: rgb(18 110 227 / 100%);
        content: '';
    }
}

.accessFrequencyWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .value {
        width: 200px;
    }

    .unit {
        width: 100px;
        margin-left: 8px;
        color: rgb(0 0 0 / 45%);
    }
}

.requiredLabel {
    margin-right: 4px;
    color: #ff4d4f;
}
