.empty {
    text-align: center;

    p,
    span {
        margin: 0;
        color: rgb(0 0 0 / 65%);
        line-height: 22px;
    }

    .operate {
        color: @primary-color;
    }
}
// 数据选择对话框
.selDataByTypeModalWrapper {
    .modalContent {
        display: flex;
        height: 100%;
        background: #fff;

        .directoryWrapper {
            width: 220px;
            background: #fff;
        }
    }

    .dirTreeBody {
        // width: 248px;
        flex-shrink: 0;

        .dirTreeHeader {
            padding: 24px 20px 18px;
        }

        .dirTreeDir {
            overflow: scroll;
            max-height: calc(100% - 74px);

            .dirTreeTree {
                .treeNode {
                    padding-left: 0;
                }
            }
        }
    }

    .dataContent {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .dataSort {
            .dataSortHeader {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 24px 32px 32px;

                .selectWrapper {
                    display: inline-block;
                    margin-left: 8px;
                }
            }

            .tipContent {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 32px 8px 8px;

                > div {
                    display: flex;
                    height: 22px;
                    align-items: center;
                }

                .addNew {
                    color: #006feb;
                }

                .anyfabric-app-icon {
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                }
            }
        }

        .dataListContent {
            flex-grow: 1;
            background: #fff;
            overflow-y: scroll;

            .dataTable {
                .ant-table.ant-table-small {
                    border: none;
                }

                .anyfabric-app-table-tbody {
                    > tr {
                        > td {
                            padding: 6px 8px 16px 0;
                            border: none;
                        }
                    }

                    .anyfabric-app-table-row-selected {
                        > td {
                            background: none;
                        }
                    }
                }
            }

            // 目录为空导致的右侧列表为空
            .showEmpty {
                .empty.empty-center {
                    margin-top: 116px;
                }
            }
        }

        .showTableInfo {
            .titleInfo {
                display: flex;
                align-items: center;

                span {
                    font-size: 12px;

                    &.status {
                        padding: 0 8px;
                        border: 1px solid rgb(0 0 0 / 15%);
                        border-radius: 2px;
                        color: rgb(0 0 0 / 45%);
                    }

                    &.link {
                        color: #006feb;
                        // font-weight: 600;
                    }
                }

                > span + span {
                    margin-left: 8px;
                }

                > span:first-child {
                    display: inline-block;
                    overflow: hidden;
                    max-width: 392px;
                    color: rgb(0 0 0 / 85%);
                    font-size: 14px;
                    // font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .otherInfo {
                display: inline-block;
                overflow: hidden;
                max-width: 392px;
                color: rgb(0 0 0 / 45%);
                // font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .error {
        display: flex;
        width: 556px;
        height: 32px;
        padding-top: 8px;
        background-color: rgba(245 34 45 / 6%);
        color: @text-color-desc;
        font-size: 12px;

        .errorIcon {
            margin-right: 7px;
            margin-left: 17px;
            color: #f5222d;
            font-size: 14px;
        }

        .errorText {
            display: inline-block;
        }
    }

    .directoryBox {
        .searchDirInput {
            margin: 24px 20px 10px;
        }

        .directory {
            height: calc(100% - 66px);
            margin-left: 16px;
        }
    }

    .anyfabric-app-modal-wrap {
        .anyfabric-app-modal {
            position: relative;
            // 垂直居中，减去自身高度的一般
            // top: calc(50% - 344px);
        }

        .anyfabric-app-modal-footer {
            padding: 10px 28px;
        }
    }
}

.directoryBox {
    overflow: hidden;
    height: 100%;
    background: #fff;

    .directory {
        // overflow: scroll;
        overflow: auto;
        height: calc(100% - 80px);
    }

    .searchDirInput {
        width: calc(100% - 40px);
        margin: 32px 20px 10px;
    }

    .dirTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 26px 20px;
        // color: #999;

        .addIcon {
            width: 12px;
            height: 12px;
            margin-right: 6px;
            color: #000;
            cursor: pointer;
        }
    }

    .dirList {
        // overflow: scroll;
        // height: calc(100% - 47px);
        color: rgb(0 0 0 / 85%);

        ul {
            list-style: none;
        }
    }

    .moreOperate {
        display: none;
        width: 46px;
        // height: 40px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 16px;

        .moreIcon {
            display: flex;
        }

        .addIcon {
            width: 12px;
            height: 12px;
            margin-left: 10px;
        }
    }

    .treeNode {
        .anyfabric-app-tree-draggable-icon {
            svg {
                color: #fff;
            }
        }

        &:hover {
            .moreOperate {
                display: flex;
                color: #000;
            }

            .anyfabric-app-tree-draggable-icon {
                svg {
                    color: #f1f7fe;
                }
            }
        }

        &:nth-child(1) {
            .anyfabric-app-tree-draggable-icon {
                display: none;
            }

            .anyfabric-app-tree-title {
                font-weight: 600;
            }

            .anyfabric-app-tree-switcher {
                display: none;
            }

            .moreOperate {
                // display: none;
            }
        }
    }

    .treeNodeCon {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .treeNodeConTitle {
            overflow: hidden;
            margin-right: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        // 编辑/添加目录
        &.isNodeEditing {
            position: fixed;
            z-index: 1001;
            // margin-left: -18px;
        }

        .treeNodeInput {
            z-index: 1002;
            overflow: hidden;
            width: 194px;
            background-color: #fff;
            box-shadow: 2px 0 4px var(--yth-box-shadow-color);
            color: var(--yth-text-color);
            text-align: left;

            &:hover {
                z-index: 1001;
            }
        }

        // 取消按鈕
        .dirOprCancel {
            position: sticky;
            // right: -28px;
            z-index: 1001;
            width: 28px;
            flex-shrink: 0;
            margin-left: 8px;
            color: #fff;
        }

        //div遮罩层
        .full {
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgb(0 0 0 / 55%);
        }
    }

    // :global {
    .anyfabric-app-tree-list-holder-inner {
        width: fit-content;
        color: rgb(0 0 0 / 85%);
        font-size: 14px;
    }

    .anyfabric-app-tree .anyfabric-app-tree-treenode {
        width: 100%;
        height: 40px;
        align-items: center;
        padding: 0;
        padding-left: 8px;

        &:nth-child(1) {
            padding-left: 20px;
        }

        &:hover {
            background: rgb(0 0 0 / 4%);
        }

        &:nth-of-type(1) {
            // min-width: 239px;
            // width: 248px;
        }

        &.anyfabric-app-tree-treenode-selected,
        &.anyfabric-app-tree-treenode-selected:hover {
            background: #f1f7fe;
        }
    }

    .anyfabric-app-tree {
        .anyfabric-app-tree-list-holder-inner {
            width: 100%;
        }

        .anyfabric-app-tree-treenode-draggable
            .anyfabric-app-tree-draggable-icon {
            // 推拽图标暂不显示
            display: none;
        }

        .anyfabric-app-tree-switcher {
            width: 14px;
            margin-right: 4px;

            .anyfabric-app-tree-switcher-icon,
            .anyfabric-app-select-tree-switcher-icon {
                width: 14px;
                height: 14px;
                line-height: 40px;

                svg {
                    height: 7px;
                }
            }
        }

        // 换行indent
        .anyfabric-app-tree-indent-unit {
            width: 18px;
        }

        .anyfabric-app-tree-node-content-wrapper {
            overflow: hidden;
            min-height: 0;
            // max-width: 139px;
            // min-height: 20px;
            flex-grow: 1;
            padding: 0;
            color: rgb(0 0 0 / 85%);
            line-height: 22px;

            &:hover {
                background: none;
            }

            &.anyfabric-app-tree-node-selected {
                background: none;
            }
        }
    }

    .anyfabric-app-tree-switcher {
        width: 14px;
    }

    .anyfabric-app-tree-indent-unit {
        width: 18px;
    }
}

.anyfabric-app-modal-body {
    padding: 24px 24px 8px;
}

.delIcon {
    color: #f5222d !important;
}

.delPopConfirm {
    width: 172px;
    height: 87px;
    border-radius: 2px;

    .anyfabric-app-popover-inner {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 9px 28px 8px rgb(0 0 0 / 5%), 0 6px 16px 0 rgb(0 0 0 / 8%),
            0 3px 6px -4px rgb(0 0 0 / 12%);
    }
}

// 移动目录
.editDirMoveWrapper {
    .moveToBody {
        .moveToHeader {
            margin-bottom: 16px;

            // p {
            //     color: rgba(0, 0, 0, 0.25);
            //     margin: 0 0 16px;
            // }

            .searchTitle {
                margin: 16px 0;
                color: rgb(0 0 0 / 45%);
                font-size: 12px;
                line-height: 20px;
            }

            .anyfabric-app-input-suffix {
                color: rgb(0 0 0 / 25%);
            }
        }

        .moveToDir {
            .movetoTree {
                .treeNode {
                    width: 100%;
                    height: 40px;
                    align-items: center;
                    padding: 0;

                    &:hover {
                        background-color: rgb(0 0 0 / 4%);
                    }

                    .treeNodeConTitle {
                        width: calc(100% - 1px);
                    }
                }

                .anyfabric-app-tree-switcher {
                    width: 14px;
                    margin-right: 4px;

                    .anyfabric-app-tree-switcher-icon,
                    .anyfabric-app-select-tree-switcher-icon {
                        width: 14px;
                        height: 14px;
                        line-height: 40px;

                        svg {
                            height: 7px;
                        }
                    }
                }

                .anyfabric-app-tree-node-content-wrapper {
                    overflow: hidden;
                    min-height: 0;
                    flex-grow: 1;
                    padding: 0;
                    background: none;
                    color: rgb(0 0 0 / 85%);
                    line-height: 22px;
                }

                .anyfabric-app-tree-treenode-checkbox-checked {
                    background: rgb(18 110 227 / 6%);
                }
            }
        }

        .showEmpty {
            margin-top: 53px;
        }
    }

    .error {
        display: flex;
        width: 556px;
        height: 32px;
        padding-top: 8px;
        background-color: rgba(245 34 45 / 6%);
        color: @text-color-desc;
        font-size: 12px;

        .errorIcon {
            margin-right: 7px;
            margin-left: 17px;
            color: #f5222d;
            font-size: 14px;
        }

        .errorText {
            display: inline-block;
        }
    }
}

// 添加/编辑目录对话框
.editDirInfoContent {
    margin-top: 16px;

    .anyfabric-app-form .anyfabric-app-form-item {
        margin-bottom: 0;
    }
}

.anyfabric-app-tree {
    .treeNode {
        .anyfabric-app-tree-checkbox {
            // Tree 目录节点 checkbox样式
            .anyfabric-app-tree-checkbox-inner {
                width: 16px;
                height: 16px;
                border-radius: 8px;
            }
        }

        .anyfabric-app-tree-checkbox-checked {
            .anyfabric-app-tree-checkbox-inner {
                background: #006feb;
            }
        }
    }
}

// 目录搜索结果高亮显示
.dirHighLight {
    color: #126ee3;
}

.toolTipHighLight {
    color: #8ac4ff;
}

// 详情
.detailsWrapper {
    width: 100%;

    .bodyWrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: -16px;
        overflow-y: scroll;

        .detailContent {
            width: 100%;

            .infoWrapper {
                padding: 16px 0;
                // border-bottom: 1px solid rgb(0 0 0 / 10%);

                .infoTitle {
                    color: @title-color-secondary;
                    font-size: 16px;
                    font-weight: 600;
                }

                .quoteStartTitle {
                    margin: 16px 0 8px;
                }

                .historyVersion {
                    font-size: 14px;
                    line-height: 22px;

                    .historyTimlineTitle {
                        margin-bottom: 0;
                    }

                    .versionTitle {
                        margin-bottom: 12px;
                        color: #006feb;
                    }

                    .version {
                        color: rgb(0 0 0 / 45%);
                    }

                    .oprTitle {
                        margin-top: 32px;
                        margin-bottom: 12px;
                        color: rgb(0 0 0 / 85%);

                        &.firstOprTitle {
                            margin-top: 0;
                        }
                    }

                    .versionCon {
                        color: rgb(0 0 0 / 65%);

                        p {
                            display: flex;
                            align-items: center;
                            margin-bottom: 8px;
                            // span {
                            //     max-width: 154px; // 最少十个字
                            // }
                            .showAll {
                                flex-shrink: 0;
                            }
                        }
                    }

                    // 码表及码值修改信息
                    .enumValues {
                        // display: flex;
                        color: rgb(0 0 0 / 65%);
                    }

                    .dictUpdValue {
                        display: flex;
                        height: 22px;
                        flex-grow: 1;
                        text-align: left;

                        span:nth-child(1) {
                            // 一个字14px，设计图中约为16个字
                            max-width: 224px;
                        }

                        span:nth-child(2),
                        span:nth-child(3) {
                            // 一个字14px，设计图中约为10个字
                            max-width: 154px;
                        }
                    }

                    .dictDesc {
                        display: flex;
                        margin-bottom: 12px;

                        .dictCode {
                            width: 182px;
                            flex-shrink: 0;
                            text-align: left;
                        }

                        .dictUpdValue {
                            span {
                                max-width: 112px;
                            }
                        }
                    }

                    .dictValue {
                        display: flex;
                        margin-bottom: 12px;

                        .dictCode {
                            width: 182px;
                            flex-shrink: 0;
                            margin: 0 42px;
                        }

                        .dictUpdValue {
                            margin-left: 30px;
                        }

                        &:nth-child(1) {
                            .dictCode {
                                margin-left: 0;
                            }

                            .dictUpdValue {
                                margin-left: 0;
                            }
                        }
                    }

                    .value {
                        overflow: hidden;
                        // max-width: 1524px;
                        color: @text-color-desc;
                        text-align: justify;
                        word-break: break-all;

                        .flexFirstEllsSecShowAll {
                            word-break: keep-all;

                            p {
                                display: flex;
                            }

                            span:nth-child(1) {
                                overflow: hidden;
                                min-width: 0;
                                flex-shrink: 1;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            span:nth-child(2) {
                                flex-grow: 1;
                                flex-shrink: 1;
                                margin-left: 24px;
                            }
                        }
                    }
                }

                .rowWrapper {
                    display: flex;
                    margin-top: 16px;
                    margin-right: 10px;
                    font-size: 14px;

                    .label {
                        color: @title-color-secondary;
                        word-break: keep-all;
                    }

                    // 码值信息
                    &.enumsRowWrapper {
                        flex-direction: column;
                        margin-top: 0;
                        // margin-top: 16px;
                        .label {
                            margin-top: -18px;
                            margin-bottom: 16px;

                            & > span {
                                float: right;
                            }
                        }
                    }

                    &.oneEllipsis {
                        display: flex;
                        overflow: hidden;
                        flex-shrink: 1;
                        flex-wrap: nowrap;

                        .label {
                            min-width: fit-content;
                        }

                        .value {
                            display: flex;
                            overflow: hidden;
                            flex: 1 1;
                            flex-flow: row nowrap;

                            span:first-child {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            span:last-child {
                                flex-shrink: 0;
                            }
                        }
                    }
                }

                .anyfabric-app-timeline-item-last
                    > .anyfabric-app-timeline-item-content {
                    min-height: 0;
                }
            }

            .fieldsWrapper {
                .fieldsTitleWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;

                    .fieldsTitle {
                        color: @title-color-secondary;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .fieldsTableWrapper {
                    .showEmpty {
                        flex-basis: 100%;
                        padding-bottom: 24px;
                        margin-top: 0%;
                    }

                    .fieldsTable {
                        min-height: 320px;
                        margin-top: 24px;

                        .showTableInfo {
                            font-size: 14px;

                            .topInfo {
                                color: @title-color-secondary;
                                .ellipsis-mixin();
                            }

                            .bottomInfo {
                                color: @text-color-third;
                                .ellipsis-mixin();
                            }
                        }

                        .baseTableRow {
                            color: @title-color-secondary;
                            font-size: 14px;
                            .ellipsis-mixin();
                        }

                        .showEmpty {
                            min-height: 200px;
                        }
                    }
                }
            }

            // 详情中的码值信息table
            .enumsTable {
                .anyfabric-app-table {
                    border: 1px solid rgb(0 0 0 / 6%);
                }
            }
        }
    }

    // :global {
    .anyfabric-app-drawer-body {
        padding: 0;
    }

    .anyfabric-app-drawer-header-title {
        display: flex;
        justify-content: space-between;

        .anyfabric-app-drawer-title {
            flex: none;
            order: 1;
        }

        .anyfabric-app-drawer-close {
            order: 2;
        }
    }
    // }
}
