.basic-item() {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .label {
        width: 130px;
        flex-shrink: 0;
        margin-right: 16px;
        color: rgba(0 0 0/ 45%);
    }

    .value {
        flex: 1;
        color: rgba(0 0 0/ 85%);
        word-break: break-all;
    }
}

.dataAnalysis {
    display: flex;
    // overflow: hidden;
    height: 100%;
    flex-direction: column;
    padding: 22px 20px 16px;
}

.applyTable {
    display: flex;
    height: 0;
    flex: 1;
    flex-direction: column;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .leftOperate {
            display: flex;
            align-items: center;

            :global {
                .any-fabric-ant-btn {
                    padding: 0 8px;
                    color: rgb(0 0 0 / 65%);

                    > i {
                        margin-right: 8px;
                    }
                }
            }

            &-title {
                padding-left: 12px;
                border-left: 3px solid #126ee3;
                color: rgb(0 0 0 / 85%);
                font-size: 14px;
                font-weight: 550;
            }
        }
    }

    .sort-title {
        margin-bottom: 16px;
        color: rgb(0 0 0 / 85%);
        font-size: 14px;
        font-weight: 550;
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .operate-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .search-container {
            display: flex;
            align-items: center;
        }
    }

    .sub_title {
        color: rgba(0 0 0 / 45%);
    }

    .mode-container {
        width: 30px;
        height: 30px;
        margin: 3px 4px 0 12px;
        background-color: transparent;
        line-height: 28px;
        text-align: center;

        .mode-icon {
            font-size: 17px;
        }

        &:hover {
            display: block;
            background-color: rgb(224 224 224);
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .table-project-name-container {
        display: flex;
        align-items: center;

        .project-name {
            max-width: 130px;
            margin-right: 4px;
            .ellipsis-mixin();
        }
    }

    .applier-info {
        .name {
            color: rgb(0 0 0 / 85%);
            .ellipsis-mixin();
        }

        .phone {
            color: rgb(0 0 0 / 45%);
            font-size: 12px;
            .ellipsis-mixin();
        }
    }

    .applier-title {
        .phone {
            color: rgb(0 0 0 / 45%);
        }
    }
}

.statusFilter {
    display: flex;
    align-items: center;

    .selectStatus {
        color: rgb(0 0 0 / 65%);
        cursor: pointer;
    }

    .selectStatusActive {
        color: @primary-color;
    }
}

.twoLine {
    display: flex;
    flex-direction: column;

    .the_one_line,
    .the_two_line {
        .ellipsis-line(1);
    }

    .the_two_line {
        color: rgba(0 0 0 / 45%);
    }

    .a_name {
        &:hover {
            color: #126ee3;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.multiColumnWrapper {
    .titleWrapper {
        display: flex;
        align-items: center;

        .columnTitle {
            .ellipsis-mixin();

            color: rgb(0 0 0 / 85%);
            cursor: pointer;

            &:hover,
            &:active {
                color: #3a8ff0;
            }
        }

        .auditStatus {
            flex: 0;
            border: none;
            margin-left: 8px;

            .reasonIcon {
                margin-left: 4px;
            }
        }
    }

    .columnSubTitle {
        color: rgb(0 0 0 / 45%);
        font-size: 12px;
        .ellipsis-mixin();
    }
}

.statusView {
    display: flex;
    align-items: center;

    .dot {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        border-radius: 50%;
    }

    .text {
        margin-right: 4px;
        margin-left: 8px;
        color: rgb(0 0 0 / 85%);
        font-size: 14px;
        .ellipsis-mixin();
    }
}

.revocate-form {
    .text-area {
        height: 130px;
    }
}

.card-wrapper {
    width: 100%;
    height: 150px;
    padding: 20px 20px 7px;
    border: 1px solid rgba(0 0 0 / 10%);
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgba(0 0 0 / 10%);

    .card-header {
        display: flex;
        align-items: center;

        .sandbox-icon {
            margin-right: 8px;
            font-size: 32px;
        }

        .name {
            max-width: 160px;
            .ellipsis-mixin();
        }
    }

    .space-container {
        margin-top: 7px;
        margin-bottom: 7px;

        .space-desc {
            margin-bottom: 7px;
            color: rgb(0 0 0 / 45%);
            font-size: 12px;
        }
    }

    .info-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        border-top: 1px solid rgba(0 0 0 / 10%);
        color: rgb(0 0 0 / 45%);
    }
}
