.roleDetails {
    :global {
        .any-fabric-ant-descriptions-row:last-child {
            .any-fabric-ant-descriptions-item {
                padding-bottom: 0;
            }
        }

        .any-fabric-ant-descriptions-item {
            padding-bottom: 16px;
        }
    }

    .innerDescriptions {
        :global {
            .any-fabric-ant-descriptions-item {
                padding-bottom: 0;

                .any-fabric-ant-descriptions-item-content {
                    padding: 8px 0 16px;
                }
            }

            .any-fabric-ant-descriptions-row:last-child {
                .any-fabric-ant-descriptions-item-content {
                    padding: 8px 0 0;
                }
            }
        }
    }

    .authTitle {
        height: 20px;
        margin-bottom: 12px;
        font-size: 12px;
    }
}

.authTag {
    display: inline-flex;
    height: 24px;
    align-items: center;
    padding: 0 8px;
    background: rgb(240 242 246 / 65%);
    border-radius: 3px;
    color: rgb(0 0 0 / 85%);
    column-gap: 8px;
    line-height: 24px;

    .authName {
        .ellipsis-line(1);
    }

    &.scopeBg {
        background: rgb(89 163 255 / 10%);
    }
}
