.apply,
.analysis-details-wrapper {
    display: flex;
    overflow: hidden;
    min-width: 0;
    height: 100%;
    min-height: 0;
    flex: 1;
    flex-direction: column;
    background: #f0f2f6;
    overflow-y: auto;

    .bottom {
        display: flex;
        overflow: auto hidden;
        min-width: 0;
        height: 0;
        min-height: 0;
        flex: 1;
        flex-direction: column;
        padding: 24px;

        .content {
            display: flex;
            min-width: 0;
            height: 0;
            min-height: 0;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            background: #fff;
            border-radius: 4px;

            .form_content {
                display: flex;
                min-width: 0;
                height: 0;
                min-height: 0;
                flex: 1;
                padding: 24px 24px 0;
            }

            .footer {
                display: flex;
                height: 65px;
                flex-shrink: 0;
                align-items: center;
                justify-content: flex-end;
                padding: 16px 24px;
                border-top: 1px solid rgb(0 0 0 / 6%);

                .btn {
                    min-width: 80px;
                    height: 36px;
                }
            }
        }
    }

    .commission-type-tip {
        margin-left: 4px;
        color: rgb(0 0 0 / 45%);
        font-size: 14px;
    }
}

.applyForm {
    overflow: hidden auto;
    min-width: 0;
    min-height: 0;
    flex: 1;

    .form {
        max-width: 1200px;
        margin: 0 auto;

        .form_item {
            &-content {
                margin: 20px 16px 0;
            }
        }

        .group {
            margin: 12px 0 16px 8px;
        }
    }

    .content-title {
        margin-bottom: 24px;
    }
}
