.configPermission {
    display: flex;
    height: 100%;
    flex-direction: column;

    .header {
        margin: 24px;

        .breadcrumbItem {
            &:hover {
                color: rgb(0 0 0 / 85%);
                cursor: pointer;
            }
        }

        .breadcrumbCurrent {
            color: rgb(0 0 0 / 85%);
            font-weight: 550;
        }
    }

    .permissionContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 24px 24px;
        overflow-y: auto;
        row-gap: 24px;
    }

    .permissionOperation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
    }

    .permissionSection {
        .sectionTitle {
            display: flex;
            height: 24px;
            align-items: center;
            margin-bottom: 12px;

            .block {
                width: 4px;
                height: 20px;
                margin-right: 4px;
                background: #126ee3;
            }
        }

        .permissionList {
            display: flex;
            flex-wrap: wrap;
            gap: 12px 8px;
        }

        .permissionItem {
            display: inline-flex;
            height: 28px;
            align-items: center;
            padding: 0 8px;
            background: rgb(240 242 246 / 65%);
            border-radius: 3px;
            column-gap: 8px;
            line-height: 28px;

            .permissionName {
                .ellipsis-line(1);

                &:hover {
                    color: #126ee3;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .footer {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: flex-end;
        padding: 0 24px;
        border-top: 1px solid rgb(0 0 0 / 6%);
        column-gap: 8px;

        button {
            min-width: 80px;
            height: 36px;
        }
    }
}

:global {
    .ant-checkbox-wrapper {
        margin-left: 0 !important;
    }
}
