body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
        'PingFang SC', 'Microsoft YaHei', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    cursor: default;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(178, 181, 189, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    overflow: hidden;
}

.dom-scrollbar-hide::-webkit-scrollbar-thumb {
    background: transparent;
}
.dom-scrollbar-show::-webkit-scrollbar-thumb {
    background: rgba(178, 181, 189, 0.5);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: rgba(178, 181, 189);
}
