.depart-select {
    .depart-select-tag {
        max-width: 100px;
        height: 24px;
        border: 1px solid #f0f0f0;
        margin-top: 2px;
        margin-bottom: 2px;
        background: #f5f5f5;
        border-radius: 4px;
        line-height: 22px;

        &-span {
            display: inline-block;
            overflow: hidden;
            max-width: calc(100% - 14px);
            text-overflow: ellipsis;
            vertical-align: bottom;
            white-space: nowrap;
        }
    }

    :global {
        .any-fabric-ant-select-selection-overflow-item-rest {
            max-width: 60px;
        }
    }

    &-popup {
        :global {
            .any-fabric-ant-select-tree-node-content-wrapper {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
