.overview-container {
    padding: 24px;

    .title {
        display: flex;
        align-items: center;
        color: rgba(0 0 0 / 85%);
        font-weight: 550;

        .title-icon {
            margin-left: 8px;
            color: rgba(0 0 0 / 65%);
            font-size: 16px;
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 24px;

        .search-item {
            display: flex;
            align-items: center;
            margin-right: 24px;

            .search-item-label {
                color: rgba(0 0 0 / 45%);
            }

            .search-item-select {
                width: 240px;
            }
        }
    }

    .target-info-container {
        margin-bottom: 32px;
    }
}

.target-info-card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 4px;

    .card-header {
        display: flex;
        align-items: center;
        gap: 16px;

        .expand-icon {
            cursor: pointer;
        }

        .target-icon-container {
            display: flex;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            background-color: #f2f6fe;
            border-radius: 2px;

            .target-icon {
                color: #3e75ff;
                font-size: 22px;
            }
        }

        .target-name {
            font-size: 24px;
            font-weight: 550;

            .ellipsis-mixin();
        }

        .target-status {
            display: flex;
            width: 52px;
            height: 22px;
            align-items: center;
            justify-content: center;
            margin-left: -8px;
            border-radius: 4px;
            font-size: 12px;
        }

        .target-status-ended {
            background-color: rgba(255 77 79 / 8%);
            color: rgb(255 77 79 / 100%);
        }

        .target-status-to-be-evaluated {
            flex-shrink: 0;
            background-color: rgba(18 110 227 / 8%);
            color: #126ee3;
        }
    }

    .card-content {
        margin-top: 16px;

        .content-item {
            display: flex;
            margin-bottom: 16px;
        }

        .label {
            margin-right: 4px;
            color: rgba(0 0 0 / 45%);
        }

        .value {
            max-width: 400px;
            color: rgba(0 0 0 / 65%);

            .ellipsis-mixin();
        }

        .row-value {
            flex: 1;

            :global {
                .any-fabric-ant-typography {
                    color: rgba(0 0 0 / 65%);
                }
            }
        }

        .left-value {
            margin-right: 24px;
        }
    }

    .card-content-hidden {
        overflow: hidden;
        height: 0;
        margin: 0;
    }
}

.common-statistical-card {
    width: 100%;

    .title {
        height: 22px;
        margin-bottom: 16px;
        font-weight: 550;
    }

    .data-container {
        display: flex;
        padding: 20px 0;
        border: 1px solid #f0f0f0;
        border-radius: 4px;

        .data-item {
            width: 50%;
            padding: 0 24px;

            .item-label {
                margin-bottom: 8px;
                color: rgba(0 0 0 / 85%);
            }

            .item-value {
                color: #1890ff;
                font-size: 24px;
                font-weight: 550;
            }

            &:first-child {
                border-right: 1px solid rgba(0 0 0 / 10%);
            }
        }
    }
}

.statistical-info-container {
    .statistical-item {
        margin-bottom: 32px;
    }
}
