.csFileTreeWrapper {
    .viewWrapper {
        padding: 16px 20px 0;

        :global {
            .any-fabric-ant-select {
                min-width: 90px;

                .any-fabric-ant-select-selector {
                    padding: 0;
                    font-weight: 550;
                }
            }
        }
    }

    :global {
        .any-fabric-ant-tree {
            max-height: calc(100vh - 226px);
        }
    }
}

.search-wrapper {
    overflow-y: auto;

    .checked {
        background-color: #ecf5ff !important;
    }

    :global {
        .any-fabric-ant-collapse-header {
            position: relative;
            padding: 8px 20px !important;
            color: #666 !important;

            &::after {
                position: absolute;
                bottom: 0;
                left: 16px;
                width: calc(100% - 32px);
                height: 1px;
                background-color: #eee;
                content: '';
            }
        }

        .any-fabric-ant-collapse-content-box {
            padding: 0 !important;
        }
    }

    .search-item-wrapper {
        padding: 10px 16px 10px 38px;
        cursor: pointer;

        &:hover {
            background-color: #eff0f3;
        }
    }

    .search-item {
        display: flex;
        align-items: flex-start;
        font-size: 14px;

        &-icon {
            padding-right: 6px;
        }

        &-right {
            display: flex;
            width: calc(100% - 24px);
            min-width: calc(100% - 24px);
            align-items: center;
            justify-content: space-between;
        }

        &-content {
            width: 100%;
            flex: 1;
            .ellipsis-mixin();

            &-name {
                overflow: hidden;
                font-weight: 500;
                text-overflow: ellipsis;
            }

            &-path {
                overflow: hidden;
                margin-top: 2px;
                color: #999;
                font-size: 12px;
                text-overflow: ellipsis;
            }
        }

        &-opt {
            padding: 2px 4px;
        }

        :global {
            .any-fabric-ant-badge-dot {
                margin-top: 16px !important;
            }

            .any-fabric-anticon {
                font-size: 16px;
            }

            .any-fabric-ant-collapse-arrow {
                margin-right: 10px;
            }
        }
    }

    .search-path {
        max-width: 100%;
        color: rgb(0 0 0 / 45%);
        font-size: 12px;
        .ellipsis-mixin();
    }
}

.custom-tree-list {
    border: unset;

    :global {
        .any-fabric-ant-tree-title {
            .ellipsis-mixin();
        }
    }
}

.fileContentWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .operateWrapper {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        justify-content: flex-end;

        .btnWrapper {
            display: flex;
            margin-top: 20px;

            .operateBtn {
                display: flex;
                // width: 94px;
                align-items: center;
                margin-right: 12px;

                .operateBtnContent();
            }

            .moreOprMenuDisabled {
                border-color: #d9d9d9;
                background: #f5f5f5;
                box-shadow: none;
                cursor: not-allowed;
                text-shadow: none;
            }

            .moreOperate {
                span {
                    display: flex;
                    align-items: center;
                }
            }

            .opearteWhite {
                color: @text-color-desc;
            }
        }

        .filterCondits {
            margin-top: 16px;

            .searchInput {
                width: 280px;
            }

            @media screen and (max-width: 1366px) {
                .searchInput {
                    width: 200px;
                }
            }
        }

        .selectWrapper {
            display: flex;

            .select {
                width: 190px;
            }

            .prefixIcon {
                margin-right: 8px;

                svg path {
                    opacity: 0.65;
                }
            }
        }
    }

    .tableContent {
        position: relative;
        overflow: hidden;
        flex: 1;
    }

    .baseTableRow {
        color: @title-color-secondary;
        font-size: 14px;
        .ellipsis-mixin();

        &.statusRow {
            font-size: 12px;
            line-height: 20px;

            .showStatus();
        }
    }

    .tableRow {
        &:hover {
            .fileNameWrapper {
                .topInfo {
                    color: @primary-color;
                }
            }
        }
    }

    .showTableInfo {
        font-size: 14px;

        .topInfo {
            color: @title-color-secondary;
            .ellipsis-mixin();
        }

        &.fileNameWrapper {
            display: flex;
            align-items: center;

            .topInfo {
                margin-left: 8px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .bottomInfo {
            color: @text-color-third;
            .ellipsis-mixin();
        }
    }

    .fileList {
        overflow: hidden;
        height: 100%;
        // flex-grow: 1;
        margin-top: 16px;

        :global {
            .any-fabric-ant-table-thead {
                height: 55px;
            }

            .any-fabric-ant-table-wrapper {
                position: relative;
                height: 100%;
            }

            .any-fabric-ant-spin-nested-loading {
                position: relative;
                height: 100%;

                .any-fabric-ant-spin-container {
                    position: relative;
                    display: flex;
                    height: 100%;
                    flex-direction: column;

                    // .any-fabric-ant-table {
                    //     // height: calc(100% - 96px) !important;
                    //     // flex-grow: 1;
                    // }
                    .any-fabric-ant-table-pagination.any-fabric-ant-pagination {
                        flex-shrink: 0;
                        // flex-grow: 1;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }

    .operate {
        color: @primary-color;
        cursor: pointer;
        font-size: 14px;

        &.disableOpr {
            color: rgb(18 110 227 / 45%);
            cursor: not-allowed;
        }
    }

    .operateDesc {
        text-align: center;
    }
}

// .disableFormWrapper {
//     margin-top: 24px !important;

//     .disableConfirmContent {
//         width: 272px;
//     }

//     .reason {
//         width: 272px;
//         height: 80px;
//     }
// }

.infoIcon {
    color: #52c31b !important;
}

.delIcon {
    color: #f5222d !important;
}

.confirmIcon {
    color: #faad14 !important;
    font-size: 24px;
}

.link {
    color: @link-color;
    cursor: pointer;
}

.primary {
    color: @primary-color;
}

// 编辑文件
.editFileWrapper {
    z-index: 1000;
    width: 100%;

    // .header {
    //     .drawerTitleWrapper {
    //         width: 100%;
    //         height: 60px;
    //         padding: 16px 24px 24px;
    //         padding-left: 24px;
    //         margin: 0;
    //         color: #000;
    //         font-size: 14px;
    //         font-weight: 500;
    //         line-height: 20px;
    //     }
    // }

    .fileBodyWrapper {
        display: flex;
        width: 100%;
        max-width: 1146px;
        justify-content: space-between;
        padding: 0 24px;
        overflow-y: scroll;

        .fileFormWrapper {
            flex: 1;

            .formSortTitle {
                height: 40px;
                padding: 8px 16px;
                margin-bottom: 16px;
                background: rgb(0 55 150 / 2%);
                border-radius: 4px;
                color: rgb(0 0 0 / 85%);
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
            }

            .attachmentUrl {
                width: 100%;
                // margin-bottom: 32px;

                :global {
                    .any-fabric-ant-form-item {
                        margin: 0;
                    }
                }
            }

            // global
            :global {
                .any-fabric-ant-form-item {
                    padding: 0;
                }
            }

            .formItemUpload {
                width: 592px;
            }
        }

        .anchorWrapper {
            padding: 0;
            margin-top: 0;
            margin-left: 24px;

            :global {
                .any-fabric-ant-anchor {
                    color: rebeccapurple;

                    .any-fabric-ant-anchor-ink {
                        .any-fabric-ant-anchor-ink-ball {
                            position: absolute;
                            left: 0;
                            display: none;
                            width: 2px;
                            height: 22px;
                            border: 0;
                            margin-top: 4px;
                            background-color: #126ee3;
                            border-radius: 0;
                            transform: translateY(-50%);
                            transition: top 0.3s ease-in-out;

                            &.any-fabric-ant-anchor-ink-ball-visible {
                                display: inline-block;
                            }
                        }
                    }

                    .any-fabric-ant-anchor-link {
                        display: flex;
                        align-items: center;
                        padding: 0 !important;
                        color: red;
                        font-size: 14px;
                        line-height: 22px;

                        & + .any-fabric-ant-anchor-link {
                            margin-top: 12px;
                        }

                        .any-fabric-ant-anchor-link-title {
                            padding-left: 16px;
                        }

                        .any-fabric-ant-anchor-ink-ball-visible {
                            display: inline-block;
                        }
                    }

                    .any-fabric-ant-anchor-link-active {
                        color: #1677ff;

                        // &::before {
                        //     display: block;
                        //     height: 22px;
                        //     border-left: 2px solid #1677ff;
                        //     margin-left: -2px;
                        //     // content: ' ';
                        // }
                    }
                }
            }
        }
    }
}

// 文件详情
.fileDetailsWrapper {
    position: absolute !important;
    z-index: 2;
    top: 16px !important;
    width: 100%;
    height: calc(100% - 16px);

    .bodyWrapper {
        overflow: hidden auto;
        width: 100%;
        justify-content: center;

        .detailContent {
            width: 100%;
            padding: 0 0 24px 24px;

            .infoWrapper {
                &:first-child {
                    padding-top: 16px;
                }

                & + .infoWrapper {
                    margin-top: 24px;
                }

                .infoTitle {
                    color: @title-color-secondary;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .tableItem {
                    margin-top: 12px;

                    .tableRow {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        // border: 1px solid #e7e5e5;
                        border-top: none;
                        background: #f4f7fc;
                        color: #878d99;
                        font-size: 14px;
                        line-height: 32px;

                        &:first-child {
                            min-height: 34px;
                            // border-top: 1px solid #e7e5e5;
                            margin-top: 0;
                            border-radius: 3px 3px 0 0;
                        }

                        &:last-child {
                            .firstCol {
                                border-radius: 0 0 0 3px;
                            }

                            .secCol {
                                border-radius: 0 0 3px 3px;
                            }
                        }

                        > div {
                            padding-left: 16px;
                        }

                        .firstCol {
                            min-width: 130px;
                            white-space: nowrap;
                        }

                        .secCol {
                            width: 99%;
                            flex: 1;
                            padding: 5px 16px;
                            // border-left: 1px solid #e7e5e5;
                            background: #fff;
                            color: rgb(0 0 0 / 85%);
                            line-height: 22px;
                            word-break: break-all;

                            .link {
                                overflow: hidden;
                                flex: 1;
                                color: #126ee3;
                                cursor: pointer;
                            }

                            .asscociateTitle {
                                .ellipsis-mixin();
                            }

                            .showStatus();

                            .fileInfo {
                                display: flex;

                                .fileInfoIcon {
                                    margin-right: 6px;
                                }

                                .fileName {
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                // 关联信息相关超过缺省
                &.asscociateInfoWrapper {
                    .tableItem {
                        .tableRow {
                            .secCol {
                                height: 34px;
                                .ellipsis-mixin();
                            }
                        }
                    }
                }

                .pagination {
                    display: flex;
                    height: 22px;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 12px;
                    color: rgb(0 0 0 / 88%);

                    .arrowIcon {
                        color: #000;
                        cursor: pointer;
                        font-size: 16px;
                    }

                    // .rightArrowIcon {
                    //     margin-left: 14px;
                    //     color: #000;
                    //     font-size: 16px;
                    // }

                    .curPage {
                        width: 48px;
                        height: 22px;
                        border: 1px solid rgb(0 0 0 / 15%);
                        margin-left: 14px;
                        background: #fff;
                        border-radius: 4px;
                        text-align: center;

                        // global

                        :global {
                            .any-fabric-ant-input-number-input {
                                text-align: center;
                            }
                        }
                    }

                    .pageCount {
                        margin-right: 14px;
                    }

                    .seperator {
                        margin: 0 16px;
                        font-size: 14px;
                    }
                }
            }

            .fileNameTagWrapper {
                display: flex;
                height: 32px;
                align-items: center;
                border: 0;
                background: rgb(0 55 150 / 4%);
                border-radius: 4px;
                gap: 8px;

                .fileName {
                    .ellipsis-mixin();

                    color: rgb(0 0 0 / 85%);
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            .fieldsWrapper {
                .fieldsTitleWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;

                    .fieldsTitle {
                        color: @title-color-secondary;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .fieldsTableWrapper {
                    .showEmpty {
                        flex-basis: 100%;
                        padding-bottom: 24px;
                        margin-top: 0%;
                    }

                    .fieldsTable {
                        min-height: 320px;
                        margin-top: 24px;

                        .showTableInfo {
                            font-size: 14px;

                            .topInfo {
                                color: @title-color-secondary;
                                .ellipsis-mixin();
                            }

                            .bottomInfo {
                                color: @text-color-third;
                                .ellipsis-mixin();
                            }
                        }

                        .baseTableRow {
                            color: @title-color-secondary;
                            font-size: 14px;
                            .ellipsis-mixin();
                        }

                        .showEmpty {
                            min-height: 200px;
                        }
                    }
                }
            }
        }

        // 锚点
        // .anchorItems();

        .anchorWrapper {
            padding: 16px 24px 0 0;
            margin-left: 20px;

            :global {
                .any-fabric-ant-anchor {
                    color: rebeccapurple;

                    .any-fabric-ant-anchor-ink {
                        .any-fabric-ant-anchor-ink-ball {
                            position: absolute;
                            left: 0;
                            display: none;
                            width: 2px;
                            height: 22px;
                            border: 0;
                            margin-top: 4px;
                            background-color: #126ee3;
                            border-radius: 0;
                            transform: translateY(-50%);
                            transition: top 0.3s ease-in-out;

                            &.any-fabric-ant-anchor-ink-ball-visible {
                                display: inline-block;
                            }
                        }
                    }

                    .any-fabric-ant-anchor-link {
                        display: flex;
                        align-items: center;
                        padding: 0 !important;
                        color: red;
                        font-size: 14px;
                        line-height: 22px;

                        & + .any-fabric-ant-anchor-link {
                            margin-top: 12px;
                        }

                        .any-fabric-ant-anchor-link-title {
                            padding-left: 16px;
                        }
                    }

                    .any-fabric-ant-anchor-link-active {
                        color: #1677ff;

                        // &::before {
                        //     display: block;
                        //     height: 22px;
                        //     border-left: 2px solid #1677ff;
                        //     margin-left: -2px;
                        //     // content: ' ';
                        // }
                    }
                }
            }
        }
    }

    :global {
        .any-fabric-ant-drawer-body {
            padding: 0;
        }

        .any-fabric-ant-drawer-header-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .any-fabric-ant-drawer-title {
                flex: none;
                order: 1;
            }

            .any-fabric-ant-drawer-close {
                order: 2;
            }
        }
    }
}

.showEmpty {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    // margin-top: 112px;
    text-align: center;
}

.operateBtnContent() {
    .operateIcon {
        display: flex;
        margin: 0;
        font-size: 14px;
    }
}

.bodyShadow {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
    box-shadow: 0 2px 10px 6px rgb(0 0 0 / 5%);
}

.dropdownWrapper {
    display: flex;
    // align-items: center;

    .fileTypeTreeWrapper {
        .fileTypeTreeTitle {
            height: 32px;
            padding: 0 20px;
            color: rgb(0 0 0 / 15%);
            font-size: 12px;
            line-height: 32px;
        }
    }

    .fileListWrapper {
        .fileListTitle {
            height: 32px;
            color: rgb(0 0 0 / 15%);
            font-size: 12px;
            line-height: 32px;
        }
    }
}
